<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
	integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
	crossorigin="anonymous">
<link
	href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
	rel="stylesheet">
<title>Employee Dashboard</title>

<style>
#users {
	border-collapse: collapse;
	width: 100%;
	font-size: 1rem;
	line-height: 2.15;
	padding-left: .75em;
	padding-right: .75em;
	top: 13px;
}

.form-control, .form-control:focus {
	transition: all .1s linear;
	box-shadow: none;
}

button, input, select, textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

.form-icon {
	margin-top: 0.4rem;
}

.bg-custom-1 {
	background-color: #85144b;
}

.bg-custom-2 {
	background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
</style>
</head>
<body>
	<nav class="navbar navbar-dark bg-dark navbar-expand-sm">
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbar-list-4" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbar-list-4">
			<ul class="navbar-nav">
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#"
					id="navbarDropdownMenuLink" role="button" data-toggle="dropdown">
						<i class="fas fa-user-circle"
						th:text="' '+${employee.firstName}+' '+${employee.lastName}"></i>
				</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="/taskDashboard">Task Dashboard</a>
						<a class="dropdown-item"
							th:href="@{/editProfile/{id}(id=${employee.id})}">Edit
							Profile</a> <a class="dropdown-item" href="/">Log Out</a>
					</div></li>
				<li class="nav-item button"><a href="/empTaskCreation"
					class="btn btn-danger" role="button">Create task</a></li>
			</ul>
		</div>
	</nav>

	<div class="container my-5 ">
		<section class="section-1">
			<h1 class="text-center">Your Tasks</h1>
		</section>

		<section class="section-2">
			<div class="bg-white border rounded-5">
				<section class="w-100 p-4 pb-4">

					<div class="row">

						<div class="col-md-11 mb-5">
							<form th:action="@{/employeeDashboard}" method="get">
								<div class="input-group">
									<span class="input-group-prepend">
										<div class="input-group-text bg-transparent border-right-0">
											<i class="fa fa-search"></i>
										</div>
									</span> <input class="form-control py-2 border-left-0 border"
										type="search" Placeholder="Task title or Task ID"
										name="keyword" id="datatable-search-input"> <span
										class="input-group-append">
										<button class="btn btn-outline-secondary border-left-0 border"
											type="submit">Search</button>
									</span>
								</div>
							</form>
						</div>
						<div class="form-icon col-md-1 mb-3">
							<a href="/employeeDashboard" class="fas fa-refresh"
								aria-hidden="true"></a>
						</div>
					</div>

					<div th:if="${session.message}" th:classappend="${session.message}"
						class="alert alert-success" role="alert">

						<p th:text="${session.message}"></p>
						<th:block th:text="${#session.removeAttribute('message')}"></th:block>
					</div>

					<div id="datatable" class="datatable">
						<div
							class="datatable-inner table-responsive ps ps--active-x ps--active-y"
							style="overflow: auto; position: relative;">

							<table id="tasks" class="table datatable-table">
								<thead class="datatable-header">
									<tr>
										<th scope="col">Task Id</th>
										<th scope="col">Title</th>
										<th scope="col">Description</th>
										<th scope="col">Estimation</th>
										<th scope="col">Action</th>
									</tr>
								</thead>
								<tbody class="datatable-body">
									<tr th:each="taskDocument : ${listTaskDocuments}">
										<td th:text="${taskDocument.id}"></td>
										<td th:text="${taskDocument.title}"></td>
										<td th:text="${taskDocument.description}"></td>
										<td th:text="${taskDocument.approxEstimation}"></td>
										<td><a
											th:href="@{/fetchTask/{id}(id=${taskDocument.id})}"
											class="fas fa-eye"></a> <a
											th:href="@{/updateTask/{id}(id=${taskDocument.id})}"
											class="fas fa-edit"></a> <a
											th:href="@{/deleteEmpTask/{id}(id=${taskDocument.id})}"
											class="fas fa-trash"></a></td>
									</tr>
								</tbody>
							</table>
							<div class="pagination">
								<div class="row col-sm-10">
									<div class="col-sm-2">Total Rows : [[${totalItems}]]</div>
									<div class="col-sm-1">
										<span th:class="${currentPage == 0} ? disabled : ''"> <a
											th:href="@{/employeeDashboard?page=0}">First</a>
										</span>
									</div>
									<div class="col-sm-1">
										<span th:class="${currentPage == 0} ? disabled : ''"> <a
											th:href="@{/employeeDashboard(page=${currentPage})}">&lt;</a>
										</span>
									</div>
									<div class="col-sm-1">
										<span
											th:class="${currentPage == totalPages} ? disabled : ''">
											<a th:href="@{/employeeDashboard(page=${currentPage})}">&gt;</a>
										</span>
									</div>
									<div class="col-sm-1">
										<span
											th:class="${currentPage == totalPages} ? disabled : ''">
											<a th:href="@{/employeeDashboard(page=${totalPages})}">Last</a>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</section>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<!-- <script src="js/script.js"></script> -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>