<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
	integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
	crossorigin="anonymous">
<title>Create New Task</title>

<style>
.form-control, .form-control:focus {
	transition: all .1s linear;
	box-shadow: none;
}

button, input, optgroup, select, textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

*, :after, :before {
	box-sizing: border-box;
}
.form-check-input {
    position: absolute;
    margin-top: 0.4rem;
    margin-left: -1.25rem;
}
</style>
</head>
<body>
	<div class="container my-5 ">
		<div class="row justify-content-center align-items-center h-100">
			<div class="col-12 col-lg-9 col-xl-7">
				<div class="card shadow-2-strong card-registration"
					style="border-radius: 15px;">
					<div class="card-body p-4 p-md-5">

						<div class="row">
							<div class="col-md-11 mb-5">
								<h3>Create New Task</h3>
							</div>
							<div class="col-md-1 mb-5 pb-4">
								<a href="/taskDashboard" class="fas fa-home"></a>
							</div>
						</div>

						<div th:if="${session.message}"
							th:classappend="${session.message}" class="alert alert-success"
							role="alert">

							<p th:text="${session.message}"></p>
							<th:block th:text="${#session.removeAttribute('message')}"></th:block>
						</div>

						<form th:action="@{/addTask}" th:object="${task}" method="post">
							<div class="form-outline mb-4">
								<label for="taskID">task ID</label> 
								<input type="text" id="taskID" name="id" class="form-control" placeholder="TaskID"/>
							</div>
							
							<div class="form-outline mb-4">
								<label for="title">Title</label>
								<input type="text" id="title" name="title" class="form-control" placeholder="Title"/>
							</div>

							<div class="form-outline mb-4">
								<label for="description">Description</label>
								<textarea class="form-control" id="description" name="description" rows="4" placeholder="Description"></textarea>
							</div>

							<div class="form-outline mb-4">
								<label for="assignToField">Assign To</label>
								<div class="input-group mb-3">
									<select class="custom-select" name="assignTo" id="assignTo">
										<option th:each="emp : ${empMapList}" th:text="${emp.getValue()}"/>
									</select>
								</div>
							</div>

							<div class="form-outline mb-4">
								<label for="approxEstimation">Estimation</label>
								<input type="text" id="approxEstimation" name="approxEstimation" class="form-control" placeholder="Estimation"/>
							</div>
								
							<div class="form-outline mb-4">
								<label for="expectedDueDate">Expected Due Date</label>
								<input type="date" id="expectedDueDate" name="expectedDueDate" class="form-control" placeholder="Expected Date"/>
							</div>

							<button type="submit" class="btn btn-primary btn-block mb-3">Save</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>